section {
  display: flex;
  padding: 0.5rem;
}

section div.info {
  flex: 1;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

img.preview {
  display: block;
  margin: 30px auto;
  padding: 1rem;
  border: 1px solid #bbc;
}

@media (min-width: 860px) {
  .info {
    flex-direction: row;
    padding: 0.5rem;
  }
  .info div {
    flex: 1;
  }
}
