body {
  background-color: #eff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #223;
}

nav {
 position: fixed;
 left: 1rem;
 top: -5px;
 background-color: #eee;
 border: 1px solid #999;
 border-radius: 5px;
 border-width: 0 1px 1px 1px;
 padding: .5rem;
}

nav a:hover {
 background-color: #ddd;
 padding: .5rem 0;
 color: #333;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container > h3 {margin-top:3rem}

h3,
h4 {
  margin: 4px 0 0 0;
}

.container,
.good {
  display: flex;
  flex-wrap: wrap;
}

.container h1,
.good h3 {
  flex-basis: 100%;
}

.good > div {
  flex: 1;
}

div.container div {
  padding: 0.1rem 1rem;
  border: 1px solid #bbc;
  border-radius: 5px;
  margin: 5px 10px;
}

.list {
  margin: 0;
  padding: 0;
}

.cart {
  flex: 1;
}

.list div div {
  height: 6rem;
  border-radius: 1px;
}

.list div div:nth-of-type(3) {
  box-shadow: 0 0 5px #99a;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.list div div:nth-of-type(3):hover {
  box-shadow: 0 0 7px rgb(78, 179, 31);
}

.list button {
  /* float: right; */
  font-size: 1.5rem;
  width: 2rem;
  flex-basis: 30%;
  margin: 0.3rem 0.5rem;
}

.cart ul {
  padding-left: 0;
  list-style-type: none;
  padding: 1rem;
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #bbc;
}

.cart button {
  font-size: 1.2rem;
  padding: 5px 8px;
  /* width: 7rem; */
}

.wallet {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #bbc;
}
